@tooltip-bg: #000;
@tooltip-color: #fff;
@tooltip-arrow-size: 5px;
@tooltip-padding: 5px;

#cc-converted-amount-tooltip {
  background-color: @tooltip-bg;
  border-radius: 5px;
  color: @tooltip-color;
  display: inline-block;
  margin: -(@tooltip-padding * 2 + @tooltip-arrow-size) 0 0;
  padding: @tooltip-padding;
  position: absolute;
  z-index: 9999;

  &:before {
    border-top: @tooltip-arrow-size solid @tooltip-bg;
    border-left: @tooltip-arrow-size solid transparent;
    border-right: @tooltip-arrow-size solid transparent;
    content: '';
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 100%;
    width: 0;
  }
}

.hidden {
  display: none;
}
